body
{background-image: url("https://media.istockphoto.com/vectors/realistic-detailed-3d-hot-fresh-pizza-ads-banner-concept-poster-card-vector-id1314356933");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align:center;
color: aliceblue;
};
    

